[href="google.com"] {
    color: blue;
    font-size: 2rem;

} 

.color {
    color: red;
}



/*  [href="google.com"]-10 , .red -10 */
/* .red rule won since it is in the last line than the  href attribute */


